croniter==0.3.34
requests==2.32.0
urllib3>=1.26.5 # not directly required, pinned by Snyk to avoid a vulnerability
# boto3=1.22.2
# boto3 is included in the AWS lambda Python 3.7 runtime, therefore
# there is no need to install it when running sh/package.sh
