awscli==1.18.148
boto3==1.4.7
botocore==1.4.26
colorama==0.3.3
croniter==0.3.12
docutils==0.12
futures==3.0.5
jmespath==0.9.0
pyasn1==0.1.9
python-dateutil==2.5.3
rsa==4.1
s3transfer==0.0.1
six==1.10.0
requests==2.24.0
